<section class="container mt-4" ng-controller="RegisterController">
    <h1 class="text-center mb-4">Registrar</h1>

    <form ng-submit="register()" class="mb-4">
        <div class="row flex-column">
            <div class="col-12 mb-4">
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="user.email" name="email" class="form-control mb-0" placeholder="Digite seu email" required />
            </div>
            <div class="col-12 mb-4">
                <label for="password">Senha</label>
                <input type="password" id="password" ng-model="user.password" name="password" class="form-control mb-0" placeholder="Digite sua senha" required />
            </div>
            <div class="col-12 mb-4">
                <label for="password2">Confirme sua senha</label>
                <input type="password" id="password2" ng-model="user.password2" name="password2" class="form-control mb-0" placeholder="Digite sua senha novamente" required />
            </div>
            <div class="col-12 d-flex align-items-end">
                <button type="submit" class="btn btn-success w-100" title="Entrar">Registrar</button>
            </div>
        </div>
    </form>

    <span ng-if="showMessage" class="text-center mb-2 text-danger">{{messageFeedback}}</span>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="#!/login" class="underline cursor-pointer" title="Registrar">Já possui uma conta? Faça login</a>
        </div>
    </div>
</section>
