<section class="container mt-4" ng-controller="RegisterController">
    <h1 class="text-center mb-4">Registrar</h1>

    <form ng-submit="register()" name="registerForm" class="mb-4 w-25">
        <div class="row flex-column">
            <div class="col-12 mb-4">
                <label for="name">Nome</label>
                <input type="text" id="name" ng-model="user.name" name="name" class="form-control mb-0" placeholder="Digite seu nome" ng-required="true"/>
            </div>
            <div class="col-12 mb-4">
                <label for="email">Email</label>
                <input type="email" id="email" ng-model="user.email" name="email" class="form-control mb-0" placeholder="Digite seu email" ng-required="true" ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/"/>
            </div>
            <div class="col-12 mb-4">
                <label for="password">Senha</label>
                <input type="password" id="password" ng-model="user.password" name="password" class="form-control mb-0" placeholder="Digite sua senha" ng-required="true" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/"/>
            </div>
            <div class="col-12 mb-4">
                <label for="password_confirmation">Confirme sua senha</label>
                <input type="password" id="password_confirmation" ng-model="user.password_confirmation" name="password_confirmation" class="form-control mb-0" placeholder="Digite sua senha novamente" ng-required="true" match-password="user.password"/>
            </div>
            <div class="col-12 d-flex align-items-end">
                <button type="submit" class="btn btn-success w-100" title="Registrar">Registrar</button>
            </div>
        </div>
    </form>

    <span ng-show="registerForm.email.$error.pattern" class="text-center mb-2 text-danger">Por favor, insira um e-mail válido.</span>
    <span ng-show="registerForm.password.$error.pattern" class="text-center mb-2 text-danger">A senha deve ter pelo menos 6 caracteres, incluindo letras e números!</span>
    <span ng-show="registerForm.password_confirmation.$error.matchPassword" class="text-center mb-2 text-danger">Senhas devem ser iguais!</span>
    <span ng-show="showMessageError" class="text-center mb-2 text-danger">{{messageError}}</span>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="#!/login" class="underline cursor-pointer" title="Registrar">Já possui uma conta? Faça login</a>
        </div>
    </div>
</section>
