<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO List</title>
        <base href="/">
        <meta name="description" content="Uma aplicação de exemplo para gerenciar tarefas.">
        <meta name="keywords" content="TODO, tarefas, gerenciamento">
        <link rel="icon" type="image/x-icon" href="public/favicon.ico">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="public/styles/style.css">

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/angular-route/angular-route.min.js"></script>
        <script src="node_modules/jwt-decode/build/cjs/index.js"></script>
    </head>
    <body ng-app="todoApp" ng-controller="AppController">
        <header class="shadow">
            <div class="container d-flex flex-row justify-content-between">
                <a href="#!/" aria-label="Home">
                    <img src="public/images/main-logo.png" alt="Todo List" width="200" height="60" class="img-fluid">
                </a>
    
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav d-flex gap-4">
                                <li class="nav-item">
                                    <a class="nav-link fw-bold" href="#!/" title="Home">Home</a>
                                </li>
                                <li class="nav-item" ng-if="localStorage.getItem('token')">
                                    <a class="nav-link fw-bold" href="#!/logout" title="Sair">Sair</a>
                                </li>
                                <li class="nav-item" ng-if="isAuthenticated">
                                    <a class="nav-link fw-bold" href="#!/login" title="Login">Login</a>
                                </li>
                                <li class="nav-item" ng-if="isAuthenticated">
                                    <a class="nav-link fw-bold" href="#!/registrar" title="Registrar">Registrar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main>
            <div ng-view></div>
        </main>

        <footer class="bg-white shadow">
            <div class="p-4 d-flex flex-row justify-content-between small text-dark">
                <p class="mb-0">© 2025 TODO List</p>
                
                <a href="https://www.linkedin.com/in/wesley-petitemberte/" target="_blank" title="Wesley Petitemberte" rel="noopener noreferrer" class="text-dark text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                    </svg>
                    <span>Desenvolvido por Wesley Petitemberte</span>
                </a>
            </div>
        </footer>

        <script src="app/app.module.js"></script>
        <script src="app/app.routes.js"></script>

        <script src="app/services/auth.service.js"></script>
        <script src="app/services/task.service.js"></script>
        <script src="app/services/interceptors/auth.interceptor.js"></script>

        <script src="app/app.controller.js"></script>
        <script src="app/pages/home/home.controller.js"></script>
        <script src="app/pages/login/login.controller.js"></script>
        <script src="app/pages/logout/logout.controller.js"></script>
        <script src="app/pages/register/register.controller.js"></script>

        <script src="app/components/login-form/login-form.component.js"></script>
    </body>
</html>
